<div class="container-md" style="margin-top: 10px">
  <input #filterValueInput (ngModelChange)="filterCards(filterValueInput)" [(ngModel)]="filterValue"
         class="form-control"
         placeholder="Wpisz aby wyszukać...">
  <div *ngFor="let listName of favoritesListsName">
    <h2>{{listName}}</h2>
    <div class="row">
      <div *ngFor="let product of favorites.get(listName); let i = index" [hidden]="isFilteredOut(listName, i)"
           class="card col-md-3 product-card">
        <img alt="Image not found :(" class="card-img-top" src="{{product.imgSrc}}">
        <div class="card-body">
          <div class="card-text">
            <div style="color:black; margin-top:10px">{{product.name}}</div>
            <h3 style="color:black">{{product.prices[0].price}}zł ({{product.prices[0].date | date: 'dd/MM/yyyy'}}
              )</h3>
            <h4 style="color:black">Średnia cena: {{product.avgPrice}}zł</h4>
            <a href="{{product.offerLink}}" style="color:black">Link do sklepu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
