<div class="container-md" style="margin-top: 10px">
  <div class="historical-low-section">
    <br>
    <div class="row">
      <span>
        <span class="input-group mb-3">
        <span class="input-group-text">Szukaj</span>
        <input [(ngModel)]="filterVal" class="form-control" type="text">
        <span class="input-group-text">:)</span>
        </span>
      </span>
    </div>
    <button (click)="refreshFilters()" class="btn btn-primary">Wyszukaj</button>
    <hr>

    <nav>
      <div *ngIf="searchInProgress" class="d-flex align-items-center">
        <strong role="status">Wyszukiwanie...</strong>
        <div aria-hidden="true" class="spinner-border ms-auto"></div>
      </div>
      <div *ngIf="!searchInProgress" class="row">
        <span *ngFor="let product of products" class="col-md-3">
          <div class="card-body">
            <img alt="Image not found :(" class="card-img-top" src="{{product.imgSrc}}">
            <div class="card-text">
            <div style="color:black; margin-top:10px">{{product.name}}</div>
              <h3 style="color:black">{{product.prices[0].price}}zł ({{product.prices[0].date | date: 'dd/MM/yyyy'}}
                )</h3>
              <h4 style="color:black">Średnia cena: {{product.avgPrice}}zł</h4>
              <a href="{{product.offerLink}}" style="color:black">Link do sklepu</a>
              <br>
              <a href="/product-details/{{product.id}}" style="color:black">Szczegóły produktu</a>
            </div>
        </div>
        </span>
      </div>

      <span class="row">
      <span class="col-md-3"></span>
      <ul *ngIf="pages > 1" class="pagination col-md-6">
        <li class="page-item">
          <a (click)="prevPage()" aria-label="Previous" class="page-link">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li *ngIf="!pagesArr.includes(1)" class="page-item">
            <a (click)="firstPage()" aria-label="First" class="page-link">
            <span aria-hidden="true">1</span>
          </a>
        </li>
        <li *ngIf="!pagesArr.includes(1) && pages > 10" class="page-item">
           <a class="page-link">
              <span aria-hidden="true">...</span>
           </a>
        </li>
        <span *ngFor="let p of pagesArr;">
          <li *ngIf="p == currentPage" class="page-item active"><a (click)="changePage(p)"
                                                                   class="page-link">{{p}}</a></li>
          <li *ngIf="p != currentPage" class="page-item"><a (click)="changePage(p)" class="page-link">{{p}}</a></li>
        </span>
         <li *ngIf="!pagesArr.includes(pages + 1) && pages > 10" class="page-item">
           <a class="page-link">
              <span aria-hidden="true">...</span>
           </a>
        </li>
        <li *ngIf="!pagesArr.includes(pages + 1)" class="page-item">
            <a (click)="lastPage()" aria-label="Last" class="page-link">
            <span aria-hidden="true">{{pages + 1}}</span>
          </a>
        </li>
        <li class="page-item">
          <a (click)="nextPage()" aria-label="Next" class="page-link">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
      <span class="col-md-3"></span>
      </span>
    </nav>

  </div>
</div>

