<div class="container-md" style="margin-top: 10px">
  <div class="historical-low-section">
    <h2 class="section-name">Historycznie najniższe ceny:</h2>
    <div class="row">
      <span class="col-md-3">
        <span class="d-inline-block" ngbDropdown>
      <button class="btn btn-outline-primary" id="categories-dropdown" ngbDropdownToggle type="button">
        Kategorie: {{selectedCategoryName}}
      </button>
      <div aria-labelledby="categories-dropdown" ngbDropdownMenu>
        <button (click)="changeCategory(category)" *ngFor="let category of categories"
                ngbDropdownItem>{{category}}</button>
      </div>
    </span>
      </span>
      <span class="col-md-3">
        <span class="input-group mb-3">
        <span class="input-group-text">od</span>
        <input [(ngModel)]="price_min_filter" class="form-control" type="number">
        <span class="input-group-text">$</span>
      </span>
      </span>
      <span class="col-md-3">
        <span class="input-group mb-3">
        <span class="input-group-text">do</span>
        <input [(ngModel)]="price_max_filter" class="form-control" type="number">
        <span class="input-group-text">$</span>
      </span>
      </span>
    </div>
    <button (click)="refreshFilters()" class="btn btn-primary">Odśwież</button>
    <hr>

    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button (click)="setActiveTab(4)" [class]="getAvgLowTabClass(4)">+50%</button>
        </li>
        <li class="nav-item">
          <button (click)="setActiveTab(3)" [class]="getAvgLowTabClass(3)">40-50%</button>
        </li>
        <li class="nav-item">
          <button (click)="setActiveTab(2)" [class]="getAvgLowTabClass(2)">30-40%</button>
        </li>
        <li class="nav-item">
          <button (click)="setActiveTab(1)" [class]="getAvgLowTabClass(1)">20-30%</button>
        </li>
        <li class="nav-item">
          <button (click)="setActiveTab(0)" [class]="getAvgLowTabClass(0)">10-20%</button>
        </li>
      </ul>
    </div>
    <app-slider *ngIf="avgLowTabs[0]" [interval]="3000"
                [products]="avgLowProducts.get(0)"></app-slider>
    <app-slider *ngIf="avgLowTabs[1]" [interval]="3000"
                [products]="avgLowProducts.get(1)"></app-slider>
    <app-slider *ngIf="avgLowTabs[2]" [interval]="3000"
                [products]="avgLowProducts.get(2)"></app-slider>
    <app-slider *ngIf="avgLowTabs[3]" [interval]="3000"
                [products]="avgLowProducts.get(3)"></app-slider>
    <app-slider *ngIf="avgLowTabs[4]" [interval]="3000"
                [products]="avgLowProducts.get(4)"></app-slider>
  </div>
</div>
